h1 {
  color: cornflowerblue;
  text-align: center;
}

canvas {
  border: solid 2px black;
  display: block;
  position: relative;
  left:27.5%;
}

.stuffs{
  text-align: center;
}

h2{
  text-align: center;
}