h1 {
  color: cornflowerblue;
  text-align: center;
}

canvas {
  padding: 0;
  margin: auto;
  border: solid 2px black;
  display: block;
  position: relative;
}

.stuffs{
  text-align: center;
}

h2{
  text-align: center;
}